In [1]:
#initialize a dictionary
# d = {}
d = dict()

In [2]:
d["George"] = 24
d["Tom"] = 25
d["Jenny"] = 16

In [3]:
print(d)

{'George': 24, 'Tom': 25, 'Jenny': 16}

In [5]:
print(d["Tom"])

25

In [6]:
print(d["Jenny"])

16

In [7]:
print(d["George"])

24

In [8]:
d["Jenny"] = 20

In [9]:
print(d)

{'George': 24, 'Tom': 25, 'Jenny': 20}

In [10]:
#keys are commonly strings or numbers
d[10] = 100

In [11]:
print(d)

{'George': 24, 'Tom': 25, 'Jenny': 20, 10: 100}

In [13]:
#Iterate over key-value pairs
for key,value in d.items():
    print("key:",key,"| Value:",value)
    print("")

key: George | Value: 24

key: Tom | Value: 25

key: Jenny | Value: 20

key: 10 | Value: 100

In [15]:
for i in d:
    print(i,d[i])
#if you iterate over d variable then compiler will iterate over keys not value 
#in order to access the value you should use square brackets!!!!

George 24
Tom 25
Jenny 20
10 100